.elementor-520 .elementor-element.elementor-element-1216e41d:not(.elementor-motion-effects-element-type-background), .elementor-520 .elementor-element.elementor-element-1216e41d > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#271B2F;}.elementor-520 .elementor-element.elementor-element-1216e41d{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:150px 20px 60px 20px;}.elementor-520 .elementor-element.elementor-element-1216e41d > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-520 .elementor-element.elementor-element-12e459f9.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-520 .elementor-element.elementor-element-12e459f9.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-520 .elementor-element.elementor-element-12e459f9 > .elementor-element-populated{padding:20px 10px 20px 10px;}.elementor-520 .elementor-element.elementor-element-1a0f57d .elementor-button{fill:var( --e-global-color-1e6585e );color:var( --e-global-color-1e6585e );background-color:#02010100;border-style:solid;border-width:0px 0px 2px 0px;border-color:var( --e-global-color-primary );border-radius:0px 0px 0px 0px;padding:5px 0px 5px 0px;}.elementor-520 .elementor-element.elementor-element-1a0f57d > .elementor-widget-container{margin:0px 0px 40px 0px;}.elementor-520 .elementor-element.elementor-element-71315f9c .elementor-icon-list-icon{width:14px;}.elementor-520 .elementor-element.elementor-element-71315f9c .elementor-icon-list-icon i{font-size:14px;}.elementor-520 .elementor-element.elementor-element-71315f9c .elementor-icon-list-icon svg{--e-icon-list-icon-size:14px;}.elementor-520 .elementor-element.elementor-element-71315f9c .elementor-icon-list-text, .elementor-520 .elementor-element.elementor-element-71315f9c .elementor-icon-list-text a{color:var( --e-global-color-e6e1184 );}.elementor-520 .elementor-element.elementor-element-71315f9c .elementor-icon-list-item{font-family:"Montserrat";font-size:12px;font-weight:600;text-transform:uppercase;line-height:12px;letter-spacing:1.5px;}.elementor-520 .elementor-element.elementor-element-d788087 .elementor-heading-title{color:var( --e-global-color-1e6585e );font-family:var( --e-global-typography-bb740b8-font-family );font-size:var( --e-global-typography-bb740b8-font-size );font-weight:var( --e-global-typography-bb740b8-font-weight );line-height:var( --e-global-typography-bb740b8-line-height );letter-spacing:var( --e-global-typography-bb740b8-letter-spacing );word-spacing:var( --e-global-typography-bb740b8-word-spacing );}.elementor-520 .elementor-element.elementor-element-1e2507fb .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(18px/2);}.elementor-520 .elementor-element.elementor-element-1e2507fb .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(18px/2);}.elementor-520 .elementor-element.elementor-element-1e2507fb .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(18px/2);margin-left:calc(18px/2);}.elementor-520 .elementor-element.elementor-element-1e2507fb .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-18px/2);margin-left:calc(-18px/2);}body.rtl .elementor-520 .elementor-element.elementor-element-1e2507fb .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-18px/2);}body:not(.rtl) .elementor-520 .elementor-element.elementor-element-1e2507fb .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-18px/2);}.elementor-520 .elementor-element.elementor-element-1e2507fb .elementor-icon-list-icon{width:0px;}.elementor-520 .elementor-element.elementor-element-1e2507fb .elementor-icon-list-icon i{font-size:0px;}.elementor-520 .elementor-element.elementor-element-1e2507fb .elementor-icon-list-icon svg{--e-icon-list-icon-size:0px;}.elementor-520 .elementor-element.elementor-element-1e2507fb .elementor-icon-list-text, .elementor-520 .elementor-element.elementor-element-1e2507fb .elementor-icon-list-text a{color:var( --e-global-color-1e6585e );}.elementor-520 .elementor-element.elementor-element-1e2507fb .elementor-icon-list-item{font-family:"Montserrat";font-size:12px;font-weight:600;text-transform:uppercase;line-height:12px;letter-spacing:1.5px;}.elementor-520 .elementor-element.elementor-element-e296b35 .elementor-widget-container{color:var( --e-global-color-1e6585e );font-family:var( --e-global-typography-d71a20e-font-family );font-size:var( --e-global-typography-d71a20e-font-size );font-weight:var( --e-global-typography-d71a20e-font-weight );line-height:var( --e-global-typography-d71a20e-line-height );letter-spacing:var( --e-global-typography-d71a20e-letter-spacing );word-spacing:var( --e-global-typography-d71a20e-word-spacing );}.elementor-bc-flex-widget .elementor-520 .elementor-element.elementor-element-487fa76.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-520 .elementor-element.elementor-element-487fa76.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-520 .elementor-element.elementor-element-71209bdf{text-align:center;}.elementor-520 .elementor-element.elementor-element-71209bdf img{border-radius:50% 50% 50% 50%;}.elementor-520 .elementor-element.elementor-element-71209bdf:not( .elementor-widget-image ) .elementor-widget-container{-webkit-mask-image:url( ../../../plugins/elementor/assets/mask-shapes/circle.svg );-webkit-mask-size:cover;-webkit-mask-position:center center;}.elementor-520 .elementor-element.elementor-element-71209bdf.elementor-widget-image .elementor-widget-container img{-webkit-mask-image:url( ../../../plugins/elementor/assets/mask-shapes/circle.svg );-webkit-mask-size:cover;-webkit-mask-position:center center;}.elementor-520 .elementor-element.elementor-element-2b0644a0 > .elementor-container{max-width:940px;}.elementor-520 .elementor-element.elementor-element-2b0644a0{padding:80px 50px 60px 50px;}.elementor-520 .elementor-element.elementor-element-e3f23f2.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-520 .elementor-element.elementor-element-19387d34.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-520 .elementor-element.elementor-element-3ea90dad.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-520 .elementor-element.elementor-element-777195ab{--grid-side-margin:8px;--grid-column-gap:8px;--grid-row-gap:8px;--grid-bottom-margin:8px;--e-share-buttons-primary-color:var( --e-global-color-e6e1184 );--e-share-buttons-secondary-color:var( --e-global-color-1e6585e );}.elementor-520 .elementor-element.elementor-element-777195ab .elementor-share-btn{font-size:calc(0.7px * 10);}.elementor-520 .elementor-element.elementor-element-059a187{overflow:hidden;}.elementor-520 .elementor-element.elementor-element-8527c90 > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-520 .elementor-element.elementor-element-71b791e > .elementor-element-populated{padding:40px 10px 40px 10px;}.elementor-520 .elementor-element.elementor-element-c20b766{text-align:center;}.elementor-520 .elementor-element.elementor-element-6200dda > .elementor-element-populated{padding:40px 30px 40px 30px;}.elementor-520 .elementor-element.elementor-element-7b18e3b .elementor-heading-title{color:var( --e-global-color-1e6585e );text-transform:none;}.elementor-520 .elementor-element.elementor-element-1145945{text-align:center;}.elementor-520 .elementor-element.elementor-element-cc70512{padding:80px 20px 0px 20px;}.elementor-520 .elementor-element.elementor-element-cbf09d9{text-align:center;}.elementor-520 .elementor-element.elementor-element-cbf09d9 > .elementor-widget-container{padding:0px 0px 30px 0px;}@media(max-width:1024px){.elementor-520 .elementor-element.elementor-element-1a0f57d > .elementor-widget-container{margin:0px 0px 15px 0px;}.elementor-520 .elementor-element.elementor-element-d788087 .elementor-heading-title{font-size:var( --e-global-typography-bb740b8-font-size );line-height:var( --e-global-typography-bb740b8-line-height );letter-spacing:var( --e-global-typography-bb740b8-letter-spacing );word-spacing:var( --e-global-typography-bb740b8-word-spacing );}.elementor-520 .elementor-element.elementor-element-e296b35 .elementor-widget-container{font-size:var( --e-global-typography-d71a20e-font-size );line-height:var( --e-global-typography-d71a20e-line-height );letter-spacing:var( --e-global-typography-d71a20e-letter-spacing );word-spacing:var( --e-global-typography-d71a20e-word-spacing );}.elementor-520 .elementor-element.elementor-element-2b0644a0{padding:30px 20px 30px 20px;}.elementor-520 .elementor-element.elementor-element-19387d34 > .elementor-element-populated{padding:40px 10px 10px 10px;}.elementor-520 .elementor-element.elementor-element-3ea90dad.elementor-column > .elementor-widget-wrap{justify-content:center;} .elementor-520 .elementor-element.elementor-element-777195ab{--grid-side-margin:8px;--grid-column-gap:8px;--grid-row-gap:8px;--grid-bottom-margin:8px;}}@media(max-width:767px){.elementor-520 .elementor-element.elementor-element-1216e41d{padding:180px 10px 80px 10px;}.elementor-520 .elementor-element.elementor-element-12e459f9 > .elementor-element-populated{padding:20px 20px 20px 20px;}.elementor-520 .elementor-element.elementor-element-1a0f57d > .elementor-widget-container{margin:0px 0px 15px 0px;}.elementor-520 .elementor-element.elementor-element-d788087 .elementor-heading-title{font-size:var( --e-global-typography-bb740b8-font-size );line-height:var( --e-global-typography-bb740b8-line-height );letter-spacing:var( --e-global-typography-bb740b8-letter-spacing );word-spacing:var( --e-global-typography-bb740b8-word-spacing );}.elementor-520 .elementor-element.elementor-element-e296b35 .elementor-widget-container{font-size:var( --e-global-typography-d71a20e-font-size );line-height:var( --e-global-typography-d71a20e-line-height );letter-spacing:var( --e-global-typography-d71a20e-letter-spacing );word-spacing:var( --e-global-typography-d71a20e-word-spacing );} .elementor-520 .elementor-element.elementor-element-777195ab{--grid-side-margin:8px;--grid-column-gap:8px;--grid-row-gap:8px;--grid-bottom-margin:8px;}.elementor-520 .elementor-element.elementor-element-71b791e > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-520 .elementor-element.elementor-element-c20b766{width:initial;max-width:initial;}.elementor-520 .elementor-element.elementor-element-7b18e3b > .elementor-widget-container{margin:0px 0px 15px 0px;}.elementor-520 .elementor-element.elementor-element-7b18e3b{width:var( --container-widget-width, 60% );max-width:60%;--container-widget-width:60%;--container-widget-flex-grow:0;}.elementor-520 .elementor-element.elementor-element-1145945{width:var( --container-widget-width, 90px );max-width:90px;--container-widget-width:90px;--container-widget-flex-grow:0;}.elementor-520 .elementor-element.elementor-element-cc70512{padding:50px 20px 0px 20px;}.elementor-520 .elementor-element.elementor-element-cbf09d9{text-align:left;}.elementor-520 .elementor-element.elementor-element-cbf09d9 > .elementor-widget-container{padding:0px 0px 0px 0px;}}@media(max-width:1024px) and (min-width:768px){.elementor-520 .elementor-element.elementor-element-12e459f9{width:100%;}.elementor-520 .elementor-element.elementor-element-487fa76{width:100%;}}/* Start custom CSS for post-info, class: .elementor-element-71315f9c */.elementor-520 .elementor-element.elementor-element-71315f9c a {
    display: inline-block !important;
    background-color: #fff;
    padding: 2px 15px;
    border-radius: 20px;
    margin-bottom: 10px;
    font-weight: 600;
}/* End custom CSS */
/* Start custom CSS for post-info, class: .elementor-element-1e2507fb */.elementor-520 .elementor-element.elementor-element-1e2507fb a {
    font-weight: 600;
}

.elementor-520 .elementor-element.elementor-element-1e2507fb li {
    position: relative;
}
.elementor-520 .elementor-element.elementor-element-1e2507fb li:after {
    content: '';
    position: absolute;
    right: -10px !important;
    top: 0;
    display: block;
    width: 3px !important;
    height: 3px !important;
    border-radius: 50%;
    background-color: #fff;
}
.elementor-520 .elementor-element.elementor-element-1e2507fb li:last-of-type:after {
    display: none;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-e3f23f2 */.elementor-520 .elementor-element.elementor-element-e3f23f2 {
    order: 0;
    flex: 1 1 50px;
    width: 50px;
    min-width: 50px;
    max-width: 50px;
}
@media screen and (max-width:768px) {
    .elementor-520 .elementor-element.elementor-element-e3f23f2 {
        display: none;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-19387d34 */.elementor-520 .elementor-element.elementor-element-19387d34 {
    flex: 1 1 calc(100% - 100px);
    width: calc(100% - 100px);
    min-width: calc(100% - 100px);
    max-width: calc(100% - 100px);
}

@media screen and (max-width:768px) {
    .elementor-520 .elementor-element.elementor-element-19387d34 {
        order: 1;
        flex: 1 1 100%;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }
}/* End custom CSS */
/* Start custom CSS for share-buttons, class: .elementor-element-777195ab */.elementor-520 .elementor-element.elementor-element-777195ab:before {
    content: 'SHARE';
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
}

@media screen and (max-width:768px) {
    .elementor-520 .elementor-element.elementor-element-777195ab {
        padding-left: 60px;
    }
    .elementor-520 .elementor-element.elementor-element-777195ab:before {
        top: 7px;
        left: 0;
        transform: translateX(0);
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-3ea90dad */.elementor-520 .elementor-element.elementor-element-3ea90dad {
    flex: 1 1 50px;
    width: 50px;
    min-width: 50px;
    max-width: 50px;
}
@media screen and (max-width:768px) {
    .elementor-520 .elementor-element.elementor-element-3ea90dad {
        order: 0;
        flex: 1 1 100%;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-71b791e */@media screen and (min-width:769px) {
    .elementor-520 .elementor-element.elementor-element-71b791e {
        flex: 1 1 300px;
        max-width: 300px;
        min-width: 300px;
        width: 300px;
    }
}


.elementor-520 .elementor-element.elementor-element-71b791e:before {
    content: '';
    position: absolute;
    top: 0;
    right: calc(100% - 100px);
    width: 100vw;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 93, 233, 1) calc(100% - 100px), rgba(0, 93, 233, 0) 100%);
}


@media screen and (max-width:1024px) {
    .elementor-520 .elementor-element.elementor-element-71b791e:before {
        display: none;
    }
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-7b18e3b */@media screen and (max-width: 768px) {
    .elementor-520 .elementor-element.elementor-element-7b18e3b {
        width: 60%;
    }
}/* End custom CSS */
/* Start custom CSS for us-subscribe-form, class: .elementor-element-454274b */.elementor-520 .elementor-element.elementor-element-454274b {
    max-width: 70%;
}
.elementor-520 .elementor-element.elementor-element-454274b .mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
  background: #68def1;
}
.elementor-520 .elementor-element.elementor-element-454274b .mktoForm .mktoButtonWrap.mktoSimple .mktoButton:hover,
.elementor-520 .elementor-element.elementor-element-454274b .mktoForm .mktoButtonWrap.mktoSimple .mktoButton:focus {
  background: #fff;
}
@media screen and (max-width: 768px) {
    .elementor-520 .elementor-element.elementor-element-454274b {
        max-width: 100%;
    }
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-1145945 */.elementor-520 .elementor-element.elementor-element-1145945 {
    position: absolute;
    top: 30px;
    right: 30px;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-6200dda */@media screen and (min-width:769px) {
    .elementor-520 .elementor-element.elementor-element-6200dda {
        flex: 1 1 calc(100% - 300px);
        max-width: calc(100% - 300px);
        min-width: calc(100% - 300px);
        width: calc(100% - 300px);
    }
}

.elementor-520 .elementor-element.elementor-element-6200dda:before {
    content: '';
    position: absolute;
    top: 0;
    left: calc(100% - 250px);
    width: 100vw;
    height: 100%;
    background: linear-gradient(-90deg, rgba(85, 75, 195, 1) calc(100% - 250px), rgba(85, 75, 195, 0) 100%);
}

@media screen and (max-width:1024px) {
    .elementor-520 .elementor-element.elementor-element-6200dda:before {
        display: none;
    }
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-8527c90 */.elementor-520 .elementor-element.elementor-element-8527c90 {
    background: conic-gradient(from 215.96deg at 148px 50%, #010E43 0deg, #061B6B 10.56deg, #032495 34.96deg, #104ED3 110.29deg, #005DE9 157.93deg, #973CA5 279.49deg, #DC267F 360deg);
}

@media screen and (max-width:768px) {
    .elementor-520 .elementor-element.elementor-element-8527c90 {
        background: conic-gradient(from 132deg at calc(100% - 73px) 74px, #010E43 0deg, #061B6B 10.56deg, #032495 34.96deg, #104ED3 110.29deg, #005DE9 157.93deg, #973CA5 279.49deg, #DC267F 359deg,  #010E43 360deg);
    }
}/* End custom CSS */
/* Start custom CSS for us-resources-related, class: .elementor-element-790cfaf */.elementor-520 .elementor-element.elementor-element-790cfaf .resources-section-wrapper {
    padding: 0 0 5px;
}/* End custom CSS */