.elementor-262 .elementor-element.elementor-element-15357fe5 > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-262 .elementor-element.elementor-element-15357fe5 > .elementor-background-overlay{background-color:var( --e-global-color-primary );opacity:1;}.elementor-262 .elementor-element.elementor-element-3f07def5 > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-262 .elementor-element.elementor-element-3f07def5{padding:15px 20px 0px 20px;}.elementor-262 .elementor-element.elementor-element-7eb43ab6{text-align:left;}.elementor-262 .elementor-element.elementor-element-87d2bd{text-align:left;}.elementor-262 .elementor-element.elementor-element-11303eab{text-align:left;}.elementor-262 .elementor-element.elementor-element-5d57fdb8.elementor-column > .elementor-widget-wrap{justify-content:flex-end;}.elementor-262 .elementor-element.elementor-element-56af3d55 .elementor-button{fill:var( --e-global-color-1e6585e );color:var( --e-global-color-1e6585e );background-color:var( --e-global-color-primary );}.elementor-262 .elementor-element.elementor-element-56af3d55 .elementor-button:hover, .elementor-262 .elementor-element.elementor-element-56af3d55 .elementor-button:focus{color:var( --e-global-color-e6e1184 );background-color:#FFFFFF;}.elementor-262 .elementor-element.elementor-element-56af3d55 .elementor-button:hover svg, .elementor-262 .elementor-element.elementor-element-56af3d55 .elementor-button:focus svg{fill:var( --e-global-color-e6e1184 );}.elementor-262 .elementor-element.elementor-element-56af3d55{width:auto;max-width:auto;}@media(max-width:767px){.elementor-262 .elementor-element.elementor-element-15357fe5{padding:10px 20px 10px 20px;}.elementor-262 .elementor-element.elementor-element-3f07def5{padding:15px 20px 0px 20px;}.elementor-262 .elementor-element.elementor-element-7b43f961{width:70%;}.elementor-262 .elementor-element.elementor-element-5df868c5{width:30%;}}@media(min-width:768px){.elementor-262 .elementor-element.elementor-element-7b43f961{width:25%;}.elementor-262 .elementor-element.elementor-element-5df868c5{width:49.332%;}.elementor-262 .elementor-element.elementor-element-5d57fdb8{width:25%;}}@media(max-width:1024px) and (min-width:768px){.elementor-262 .elementor-element.elementor-element-7b43f961{width:40%;}.elementor-262 .elementor-element.elementor-element-5df868c5{width:60%;}}/* Start custom CSS for section, class: .elementor-element-15357fe5 */.elementor-262 .elementor-element.elementor-element-15357fe5 {
    display: none!important;
}
/*
@media screen and (min-width: 1201px) {
    [data-elementor-type=header] #info-bar {
        display: none!important;
    }
}
*/
.elementor-262 .elementor-element.elementor-element-15357fe5 .elementor-element,
.elementor-262 .elementor-element.elementor-element-15357fe5 p {
    margin-bottom: 0!important;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-87d2bd */.elementor-262 .elementor-element.elementor-element-87d2bd {
    margin-bottom: 0;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-11303eab */.elementor-262 .elementor-element.elementor-element-11303eab {
    margin-bottom: 0;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-7b43f961 */@media screen and (max-width:1200px) {
    .elementor-262 .elementor-element.elementor-element-7b43f961 {
        order: 1;
        width: 80%!important;
    }
}
@media screen and (min-width:1201px) and (max-width:1300px) {
    .elementor-262 .elementor-element.elementor-element-7b43f961 {
        width: 20% !important;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-5df868c5 */@media screen and (max-width:1200px) {
    .elementor-262 .elementor-element.elementor-element-5df868c5 {
        order: 3;
        width: 20%!important;
    }
}

@media screen and (min-width:1201px) {
    .elementor-262 .elementor-element.elementor-element-5df868c5 {
        width: 50%!important; 
    }
}
@media screen and (min-width:1201px) and (max-width:1300px) {
    .elementor-262 .elementor-element.elementor-element-5df868c5 {
        width: 55% !important;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-5d57fdb8 */@media screen and (max-width:1200px) {
    .elementor-262 .elementor-element.elementor-element-5d57fdb8 {
        order: 2;
    }
}

@media screen and (min-width:1201px) and (max-width:1300px) {
    .elementor-262 .elementor-element.elementor-element-5d57fdb8 {
        width: 25% !important;
    }
}/* End custom CSS */